<footer>
    <div id="footer-content">
        <div id="footer-left">
            <img id="footer-logo" src="/imagens/logo-if-black.png" alt="Logo do site">
        </div>

        <div id="footer-center">
            <a href="#"><img src="/imagens/instagram-icon.png" alt="Instagram"></a>
            <a href="#"><img src="/imagens/facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="/imagens/whatsapp-icon.png" alt="Whatsapp"></a>
        </div>

        <div id="footer-right">
            <ul>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
                <li><a href="/termos-de-uso">Termos de Uso</a></li>
            </ul>
        </div>

    </div>

    <div id="footer-bottom">
        <p>2025 © Todos os direitos reservados. Feito por Gabriel Araujo e Douglas Duarte</p>
    </div>

</footer>