<header>
    <div id="header-logo">
        <a href="/home"><img id="img-logo" src="/imagens/logo-if.png" alt="Logo do IFRS"></a>
    </div>
    <div id="nav-bar">
        <ul id="nav-list">
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="/cursos">Cursos</a></li>
            <li class="nav-item"><a href="/alunos">Alunos</a></li>
        </ul>
    </div>

    </div>
</header>