<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<%- include('../partials/header') %>

<main>

    <div id="main_container">
        <h1>Bem Vindo Ao Instituto</h1>

        <div class="main_img_paragrafo">
            <img src="/imagens/if_fachada.jpg" alt="img_fachada">

            <p class="main_paragrafo">O Instituto Federal do Rio Grande do Sul – Campus Restinga, inaugurado em 26 de junho de 2010, está instalado na Restinga, no extremo sul de Porto Alegre. Proveniente da expansão da Rede Federal de Educação Profissional e Tecnológica, a unidade surge de uma forte mobilização comunitária iniciada em 2006, com seminários e audiências públicas que definiram cursos voltados às necessidades locais. Com mais de 1 200 estudantes, oferece ensino nos níveis médio, técnico integrado e superior — incluindo áreas como Informática, Eletrônica, Agroecologia e Letras — além de ser um polo de extensão, pesquisa e inclusão social na região. </p>

        </div>

        <P id="main_paragrafo_diff">
            
            O Instituto Federal do Rio Grande do Sul – Campus Restinga é um importante centro de educação pública e gratuita, localizado no extremo sul de Porto Alegre. Além de oferecer ensino de qualidade nos níveis técnico e superior, voltado às demandas da comunidade, o campus também promove inclusão, pesquisa e extensão. Seus espaços, como a quadra esportiva, são amplamente utilizados para atividades físicas e culturais, fortalecendo o bem-estar e a integração entre os estudantes. </P>        

        <div class="main_img_paragrafo">

            <img src="/imagens/imagem_esporte.jpg" alt="img_esporte">

        </div>

        <p class="main_paragrafo"> A quadra esportiva do IFRS – Campus Restinga é um espaço fundamental para a integração dos estudantes, promovendo atividades físicas, esportivas e eventos culturais. Utilizada tanto em aulas quanto em momentos de lazer, ela contribui para o bem-estar da comunidade acadêmica e fortalece os vínculos entre os alunos. </p>
        
    </div>

</main>

<%- include('../partials/footer') %>

</html>